<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Dane Watts" content="Personal CV">
    <!-- To run the web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <!-- Has no effect unless you have the previous meta tag -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
    integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="css\style.css">
    <link rel="icon" type="" href=https://avatars.githubusercontent.com/u/72122450?v=4">
    
    <!-- Apple Touch Icon (at least 200x200px) -->
    <link rel="apple-touch-icon" href="/custom-icon.png">


    <script>
        src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js";
        integrity = "sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2";
        crossorigin = "anonymous";
        src = "main.js";
    </script>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <title>Dane Watts</title>
</head>

<body>